.c-header {

  &__nav {

  }

  &__items {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }

  &__item {
    font-size: 16px;
    padding: 30px 15px;
    text-transform: uppercase;

    a {
      color: gray;
      text-decoration: none;
    }

    &:hover {
      background: goldenrod;

      a {
        color: white;
      }
    }
  }
}
