.c-button {
  cursor: pointer;
  border-radius: 2em;
  text-decoration: none;
  box-sizing: border-box;
  background-repeat: no-repeat;
  outline-offset: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-transform: lowercase;
  background-color: rgba(0,0,0,0);
  color: #000;
  border: 1px solid #000;
  font-size: 16px;
  padding: 8px 20px;
}
