.c-link {
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    outline-offset: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
    background-color: white;
    color: #000;
    border: none;
    font-size: 16px;
    padding: 8px 20px;
  }
  