{% set page_name = 'Home' %}
{% set class_name = 'homepage' %}
{% set active_page = 'index' %}
{% set SEO_description = 'SSG using Nunjucks and Gulp' %}
{% set SEO_keywords = 'SSG, Nunjucks, Gulp, JavaScript' %}

{% extends "layouts/layout.html" %}

{% from 'atoms/title.html' import title %}
{% from 'atoms/paragraphe.html' import paragraphe %}
{% from 'organisms/card.html' import card %}
{% from 'organisms/card2.html' import card2 %}

{% block content %}
    <div id="content">
        <div class="container">
            {{ title('h1', 'Confort4u') }}
            {{ title('h6', 'Appartements for Ront') }}
            <div class="row">
                {{ card('5 star service', 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.', 'gray', 'more') }}                
                {{ card('even more choice', 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.', 'gray', 'more') }}
                      {{ card('hottest vacation', 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.', 'gray', 'more') }}
                
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ card2('title', 'description', 'button', 'subTitle', ['1', '2']) }}
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
