{% set page_name = 'Home' %}
{% set SEO_description = 'SSG using Nunjucks and Gulp' %}
{% set SEO_keywords = 'SSG, Nunjucks, Gulp, JavaScript' %}

{% extends "layouts/layout.html" %}
{% set active_page = "index" %}

{% block content %}
    <div id="content">
        <div class="container">
            <h1>Hello World!</h1>
            
            {% set title = 'Home' %}
            {% include "organisms/card.html" ignore missing %}
            {% include "organisms/card2.html" ignore missing %}
        </div>
    </div>
{% endblock %}
