@import "src/scss/atoms/title";
.c-card2 {
    background-color: white;
  }
.c-card2 {
  background-color: white;
  margin: 10px;
  padding: 20px;
  .c-title {
    color: black;
    text-align: left;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    &:after{
      position:absolute;
      content: "";
      background: orange;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
    };
  }
  .c-paragraphe{
    color: gray;
  }
  .c-link{
    background-color: gray;
    color: white;
    font-weight: bold ;
  }
  & h2 {
    font-size: 14px;
    font-weight: 500;
    color:darkslateblue;
    text-align: left;
    text-transform: uppercase;
  }
}