@import "src/scss/atoms/title";

.c-card {
  background-color: darkgray;
  margin: 10px;
  padding: 20px;
  .c-title {
    color: white;
    text-align: left;
    padding-bottom: 20px;
    font-size: 24px;
    position: relative;
    &:after{
      position:absolute;
      content: "";
      background: white;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
    };
  }
  .c-paragraphe{
    color: white;
  }
  &:hover{
    background-color: rgb(99, 94, 94);
  }
}