{% from 'atoms/title.html' import title %}
{% from 'atoms/paragraphe.html' import paragraphe %}

{% macro card2(title, subTitle='none', lists='none', image-src='none', description, btnName) -%}
<div class="card">
    {{ title('h1', 'title') }} <br>
    {% if subTitle != 'none' %}{{ title('h2', 'subTitle') }} <br>{% endif %}
    {% if image-src != 'none' %}{{ image('image-src', 'rounded float-left') }} <br>{% endif %}
    {{ paragraphe(description) }} <br>
    {{ button('btnName', 'btn btn-success') }} <br>
    {% if image-src != 'none' %}  {{ image('image-src', 'rounded float-left') }} <br>{% endif %}
    {% if lists != 'none' %}
        <ul>
            {% for list in lists %}
            <li>list.text</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{%- endmacro %}