{% from 'atoms/title.html' import title %}
{% from 'atoms/image.html' import image %}
{% from 'atoms/button.html' import button %}
{% from 'atoms/paragraphe.html' import paragraphe %}

{% macro card2(cardTitle, description = '', btnName = '', subTitle = '', lists = '', imageSrc = '') -%}
    <div class="c-card2">
        {{ title('h1', cardTitle) }}
        {% if subTitle != '' %}
            <h2>{{ subTitle }}</h2>
        {% endif %}
        {% if imageSrc != '' %}
            {{ image(imageSrc, 'img-thumbnail float-left') }} <br>
        {% endif %}

        {% if description != '' %}
            {{ paragraphe(description) }} <br>
        {% endif %}
        
        {% if lists != '' %}
            <ul>
                {% for list in lists %}
                    <li>{{ list }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if btnName != '' %}
            {{ button(btnName, 'btn btn-success') }} <br>
        {% endif %}
    </div>
{%- endmacro %}